<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css"/>
    <title>Labs oct/10 Ironhack</title>
</head>
<body class="home">
    <div style="font-size: large">Welcome</div>
    <h1></h1>
    <div style="font-size: large">Website to share information about Elon Musk</div>
    <h1></h1>
    <div style="font-size: medium">Elon Reeve Musk FRS (June 28, 1971) is an entrepreneur[2] and
        South African-Canadian philanthropist, naturalized American.
        He is the founder, chief executive officer and technical director of SpaceX;
        CEO of Tesla, Inc.; vice president of OpenAI, founder and CEO of Neuralink;
        co-founder and president of SolarCity.</div>
    <h1></h1>
    <div style="font-size:medium">As of January 7, 2021, with an estimated personal net worth of around 188,
        5 billion dollars, became the richest person in the world, according to Bloomberg,
        surpassing entrepreneur Jeff Bezos.
        In the Forbes ranking, Musk occupies in 2022 in the first place.</div> 
    <h1></h1>
    <img src="/image/image05.jpg" alt="image" width="130" height="100"/>
    <h1></h1>   
    <a href="/about">Go to about</a>
</body>
</html>