<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css"/>
    <title>Elon Musk professional life</title>
</head>
<body class="works">
    <h1></h1>
    <div style="font-size: medium">Elon Musk professional life</div>
    <h1></h1>
    <div style="font-size: medium">Em 1982, com apenas 11 anos, criou seu próprio jogo de video game, que mais tarde foi vendido para uma empresa sul-africana por 500 dólares. Formou-se em economia pela Universidade da Pensilvânia e um ano depois obteve um diploma de física. Mudou-se para a Califórnia e fundou a empresa Zip2, uma companhia que desenvolvia conteúdo para portais de notícias. Em 1999, a empresa foi comprada pela Compaq por 307 milhões de dólares e 34 milhões em ações.[34]<div>
    <h1></h1>
    <div style="font-size: medium">Elon Musk is co-founder and is at the helm of Tesla, SpaceX, Neuralink and The Boring Company.
        As co-founder and CEO of Tesla, Elon leads all phases of the design, engineering and global production of the company's electric vehicles, battery and solar products.</div>
    <h1></h1>
    <div style="font-size: medium">Proposed acquisition of Twitter by Elon Musk</div>
    <h1></h1>
    <div style="font-size: medium">On April 14, 2022, business magnate Elon Musk offered to purchase American social media company Twitter, Inc., for $43 billion, after previously acquiring 9.1 percent of the company's stock for $2.64 billion and becoming its largest shareholder. Twitter had then invited Musk to join its board of directors, which Musk at first accepted before subsequently declining. Twitter announced a "poison pill" strategy the next day to resist a hostile takeover. On April 25, Twitter's board of directors unanimously accepted Musk's buyout offer of $44 billion, with the company set to be taken private. Musk stated that he planned to introduce new features to the platform, make its algorithms open source, combat spambot accounts, and promote free speech.</div>
    <h1></h1>
    <img src="/image/image04.jpg" alt="image" width="200" height="200"/>
    <img src="/image/image03.jpg" alt="image" width="200" height="200"/>
    <img src="/image/image02.jpg" alt="image" width="200" height="200"/>
    <h1></h1>
    <a href="/home">Go to homepage</a>
</body>
</html>