.home
{
  background-color: rgb(223, 219, 219);
  text-align: center;
  font-weight: bold;

}

.about
{
  background-color: rgb(223, 221, 221);
  text-align: center;
  font-weight: bold;
}

.works
{
  background-color: rgb(223, 223, 223);
  text-align: center;
  font-weight: bold;
}